@import "../../../styles.scss";

.sidenav {
  left: 0;

  li + li {
    margin-top: 27.42px;
  }
}

.sidenav-hide {
  margin-left: -240px;
}

.explore {
  font-size: 1.2rem;
  margin: 40px 0px 24px;
}

.icon {
  margin-right: 10.1px;
}

.help-item {
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}
