<aside class="sidenav sidenav-hide" #aside>
  <div class="container-logo">
    <i
      class="fas fa-bars"
      (click)="effectsService.handleSidenav(sidenavIsShowing)"
    ></i>

    <a routerLink="" class="logo">
      <span>Caped</span>
    </a>
  </div>

  <h3 class="explore">Explore</h3>

  <nav>
    <ul>
      <li><a routerLink="">⚡&nbsp;&nbsp;&nbsp;New In</a></li>

      <li><a routerLink="">👚&nbsp;&nbsp;&nbsp;Clothing</a></li>

      <li><a routerLink="">👞&nbsp;&nbsp;&nbsp;Shoes</a></li>

      <li><a routerLink="">👜&nbsp;&nbsp;&nbsp;Accessories</a></li>

      <li><a routerLink="">🤸&nbsp;&nbsp;&nbsp;Activewear</a></li>

      <li><a routerLink="">🎁&nbsp;&nbsp;&nbsp;Gifts & Living</a></li>

      <li><a routerLink="">💎&nbsp;&nbsp;&nbsp;Inspiration</a></li>

      <li class="help-item">
        <a routerLink="">
          <i class="fas fa-comment"></i>
          &nbsp;&nbsp;&nbsp;Help Center
        </a>
      </li>
    </ul>
  </nav>
</aside>
