@import "../../../styles.scss";

/* SIDENAV */
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 1000;

  transition: margin-left 0.2s;
  
  padding: 30px 16px;
  width: 240px;
  height: 100%;
  background-color: $white;
}

.explore {
  font-size: 1.2rem;
  margin: 57px 0px 44.24px;
}

/* BUTTON TOGGLE */
.sidenav-hide {
  margin-left: -240px;
}

/* NAVIGATION */
.icon {
  margin-right: 10.1px;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav li {
  display: flex;
  align-items: center;
  list-style: none;

  & + li {
    margin-top: 27.42px;
  }
}

.help-item {
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}
