<div class="main-container" *ngIf="product">
  <div class="product-container">
    <img [src]="product.image" [alt]="product.name" />

    <div class="product-details">
      <h1>{{ product.name }}</h1>

      <p>{{ product.description }}</p>

      <button
        class="btn btn-primary"
        type="button"
        (click)="cartService.addToCart(product)"
      >
        Add to cart {{ product.price | currency }}
      </button>
    </div>
  </div>

  <hr />

  <section>
    <h3>Other Products</h3>

    <div class="other-products">
      <app-product-card
        *ngFor="let product of otherProducts"
        [product]="product"
      ></app-product-card>
    </div>
  </section>
</div>
