@import "../../../styles.scss";

.product-container {
  display: flex;
  align-items: center;

  img {
    flex: 1;

    width: 100%;
    height: 100%;
    max-height: 500px;

    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
  }

  @media (max-width: $bp-mobile) {
    & {
      flex-direction: column;
    }
  }
}

.product-details {
  flex: 1;
  padding: 30px;

  h1 {
    margin: 32px 0px 8px;
  }

  button {
    margin-top: 20px;
  }

  @media (max-width: $bp-mobile) {
    & {
      padding: 0;
    }
  }
}

hr {
  margin: 48px 0px;
}

.other-products {
  margin-top: 24px;
  width: 100%;
  // border: 1px solid red;
  // max-width: 1000px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  // grid-auto-flow: column;
  // grid-auto-columns: minmax(230px, 1fr);
  grid-gap: 10px;
  overflow-x: auto;
}
