<header>
  <div class="brand">
    <i
      class="fas fa-bars"
      (click)="effectsService.handleSidenav(sidenavIsShowing)"
    ></i>

    <a routerLink="" class="logo">
      <span>Caped</span>
    </a>
  </div>

  <div class="options">
    <div #menu>
      <i class="fas fa-ellipsis-v"></i>

      <nav>
        <ul>
          <li>
            <a routerLink="">products</a>
          </li>

          <li>
            <a routerLink="">story</a>
          </li>

          <li>
            <a routerLink="">manufacturing</a>
          </li>

          <li>
            <a routerLink="">packaging</a>
          </li>
        </ul>
      </nav>
    </div>

    <i
      class="far fa-lightbulb"
      (click)="effectsService.handleDarkMode(isDarkMode)"
      #iconDarkMode
    ></i>

    <i
      class="fas fa-shopping-cart"
      (click)="effectsService.handleCartShopping(cartShoppingIsShowing)"
      #iconCart
    ></i>

    <!-- <div class="dropdown">

      <div>
        <ul>
          <ng-container
            *ngIf="
              cartService.cart.length == 0;
              then isEmpty;
              else listProducts
            "
          ></ng-container>

          <ng-template #isEmpty>
            <li class="cart-empty">Empty</li>
          </ng-template>

          <ng-template #listProducts>
            <li class="highlight">
              Total amount: {{ cartService.totalAmount | currency }}
            </li>

            <li *ngFor="let product of cartService.cart">
              {{ product.name }} ({{ product.quantity }}x)
            </li>
          </ng-template>
        </ul>
      </div>
    </div> -->
  </div>
</header>
