@import "../../../styles.scss";

/* GLOBAL */
li {
  list-style: none;
}

i {
  font-size: 1.1rem;
}

/* NAVBAR */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 80px;
  padding: 0px 16px;
  background-color: $white;
}

/* OPTIONS */
.options {
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;

  & > * {
    margin: 0px 12px;
  }

  @media (max-width: $bp-navbar) {
    & {
      flex-direction: row-reverse;
    }
  }
}

/* NAVIGATION */
.expanded-navigation {
  i {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
  }

  li {
    list-style: none;
    margin-right: 24px;
  }

  a {
    padding: 10px;

    &:hover {
      text-decoration: underline 3px;
    }
  }
}

/* CART */
.cart-empty {
  text-align: center;
}

/* DARK MODE */
.container-dark-mode {
  cursor: pointer;
}

/* ANIMATION */
.cart-animation {
  animation: add-to-cart 0.7s ease-in 0s infinite alternate;
}
