<header>
  <div class="container-logo">
    <i
      class="fas fa-bars"
      (click)="effectsService.handleSidenav(sidenavIsHidden)"
    ></i>

    <a routerLink="" class="logo">
      <span>Caped</span>
    </a>
  </div>

  <!-- <div class="input-search">
      <i class="fas fa-search"></i>
      <input
        type="text"
        placeholder="Search store"
        [(ngModel)]="inputSearch"
        (keyup)="onChange()"
      />
    </div> -->

  <div class="options">
    <div #menu>
      <i class="fas fa-ellipsis-v"></i>

      <nav>
        <ul>
          <li>
            <a routerLink="">products</a>
          </li>

          <li>
            <a routerLink="">story</a>
          </li>

          <li>
            <a routerLink="">manufacturing</a>
          </li>

          <li>
            <a routerLink="">packaging</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="dropdown">
      <i class="fas fa-shopping-cart" #iconCart></i>

      <div>
        <ul>
          <ng-container
            *ngIf="
              cartService.cart.length == 0;
              then isEmpty;
              else listProducts
            "
          ></ng-container>

          <ng-template #isEmpty>
            <li class="cart-empty">Empty</li>
          </ng-template>

          <ng-template #listProducts>
            <li class="highlight">
              Total amount: {{ cartService.totalAmount | currency }}
            </li>

            <li *ngFor="let product of cartService.cart">
              {{ product.name }} ({{ product.quantity }}x)
            </li>
          </ng-template>
        </ul>
      </div>
    </div>

    <div
      class="container-dark-mode"
      (click)="effectsService.handleDarkMode(isDarkMode)"
    >
      <i #iconDarkMode class="far fa-lightbulb"></i>
    </div>
  </div>
</header>
