<div class="main-container">
  <div class="input-search">
    <i class="fas fa-search"></i>
    <input
      type="text"
      placeholder="Search store"
      [(ngModel)]="inputSearch"
      (keyup)="onChangeSearch()"
    />
  </div>

  <ng-container
    *ngIf="products.length > 0; then productList; else noProducts"
  ></ng-container>

  <ng-template #productList>
    <div class="products-container">
      <app-product-card
        *ngFor="let product of products"
        [product]="product"
      ></app-product-card>
    </div>
  </ng-template>

  <ng-template #noProducts>
    <div class="no-products">
      <img src="./assets/images/no-products.svg" alt="No products found" />

      <h2>No Products Found</h2>

      <p>Your search did not match any products.</p>

      <p>Please try again.</p>
    </div>
  </ng-template>
</div>
