@import "../../../styles.scss";

/* CONTAINER */
.main-container {
  display: flex;
  flex-direction: column;
  
  min-height: calc(100vh - 60px);
  height: 100%;
}

/* SEARCH */
.input-search {
  display: block;
  margin-bottom: 24px;

  @media (max-width: $bp-mobile) {
    &, input {
      width: 100%;
    }
  }
}

/* LAYOUT */
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 10px;

  @media (max-width: 650px) {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
}

/* PRODUCT */
.no-products {
  margin: auto;
  color: $gray-dark;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 100%;
    max-width: 190px;
  }

  h2 {
    margin-bottom: 8px;
  }
}
