@import "../../../styles.scss";

/* LAYOUT */
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 10px;

  @media (max-width: 650px) {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
}

/* PRODUCT */
.no-products {
  height: 100%;
  width: 100%;
  color: $gray-dark;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 100%;
    max-width: 190px;
  }

  h2 {
    margin-bottom: 8px;
  }
}
