<ng-container *ngIf="isMobile; then mobile; else desktop"></ng-container>

<ng-template #mobile>
  <a class="product-card" routerLink="/details/{{ product.id }}" @fadeInOut>
    <img [src]="product.image" [alt]="product.name" />
  </a>
</ng-template>

<ng-template #desktop>
  <div class="product-card" @fadeInOut>
    <img [src]="product.image" [alt]="product.name" />

    <div class="product-info">
      <h3>{{ product.name }}</h3>

      <p>{{ product.description }}</p>

      <button class="btn btn-secondary" routerLink="/details/{{ product.id }}">
        See details
      </button>

      <button
        class="btn btn-primary"
        type="button"
        (click)="cartService.addToCart(product)"
      >
        Add to cart {{ product.price | currency }}
      </button>
    </div>
  </div>
</ng-template>
