/* LAYOUT */
main {
  display: grid;
  transition: all 0.5s;
  grid-template:
    "sidenav navbar" 80px
    "sidenav content" minmax(calc(100vh - 80px), auto)
    / 240.36px 1fr;
}

.layout-hidden-sidenav {
  grid-template-columns: 14px 1fr;
}

app-sidenav {
  grid-area: sidenav;
}

app-navbar {
  grid-area: navbar;
}

app-main {
  grid-area: content;
}

/* MEDIA QUERIES */
@media (max-width: 1030px) {
  main {
    grid-template:
      "navbar navbar" 80px
      "sidenav content" auto
      / 240.36px 1fr;
  }

  .layout-hidden-sidenav {
    grid-template:
      "navbar navbar" 80px
      "sidenav content" auto
      / 14px 1fr;
  }
}
