/* COLORS */
$yellow-light: #f7e77d;
$yellow: #f4de4d;
$yellow-dark: #f1d51d;

$black: rgb(31, 30, 30);

$white: #ffff;

$gray-light: #ccc;
$gray: #b3b3b3;
$gray-dark: #999;

/* BREAKPOINTS */
$bp-mobile: 650px;
$bp-navbar: 820px;
$bp-sidenav: 1030px;

/* GLOBAL */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

p,
strong,
span,
button,
nav,
input {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  text-underline-offset: 7px;
  color: $black;
  transition: 0.5s text-decoration;
}

.main-container {
  padding: 30px 30px 30px 16px;

  @media (max-width: $bp-mobile) {
    & {
      padding: 16px 16px 16px 2px;
    }
  }
}

/* FORM */
::placeholder {
  color: $gray;
}

/* BUTTON */
.btn {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.btn-primary {
  border-color: $gray;
  color: $black;
  background: $yellow;

  &:active {
    background: $yellow-dark;
  }
}

.btn-secondary {
  border-color: $gray;
  color: $black;
  background: $white;

  &:active {
    background: $gray-light;
  }
}

/* ANIMATIONS */
@keyframes add-to-cart {
  0%,
  2%,
  4%,
  6%,
  8%,
  10%,
  12%,
  14%,
  16%,
  18% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0);
  }
  1%,
  3%,
  5%,
  7%,
  9%,
  11%,
  13%,
  15%,
  17%,
  19% {
    -webkit-transform: translate3d(1px, 0, 0);
    transform: translate3d(1px, 0, 0);
  }
  20%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
