@import "./scss/colors.scss";
@import "./scss/breakpoints.scss";

@import "./scss/animations.scss";
@import "./scss/blur.scss";
@import "./scss/buttons.scss";
@import "./scss/containers.scss";
@import "./scss/dark-mode.scss";
@import "./scss/dropdown.scss";
@import "./scss/form.scss";
@import "./scss/logo.scss";
@import "./scss/scrollbar.scss";
@import "./scss/typography.scss";


/* GLOBAL */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-underline-offset: 7px;
  color: $black;
  transition: 0.5s text-decoration;
}
