.blur {
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  * {
    pointer-events: none !important;
  }
}
