.btn {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.btn-primary {
  border-color: $gray;
  color: $black;
  background: $yellow;

  &:active {
    background: $yellow-dark;
  }
}

.btn-secondary {
  border-color: $gray;
  color: $black;
  background: $white;

  &:active {
    background: $gray-light;
  }
}
