$yellow-light: #f7e77d;
$yellow: #f4de4d;
$yellow-dark: #f1d51d;

$black-light: #393737;
$black: #1f1e1e;
$black-dark: #121111;
$black-transparent: rgba(0, 0, 0, 0.3);

$white: #ffff;

$gray-light: #ccc;
$gray: #b3b3b3;
$gray-dark: #999;
